.app {
  min-height: 100vh;
  padding: 0 20%;
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .app {
    padding: 0;
  }

  .main-content {
    padding-top: 25px;
  }
}